<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"> <!-- Link to your favicon -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>AI Career Advisor Platform - Chatbot</title>
</head>
<body>
    <header>
        <div class="hamburger" id="hamburger">
            &#9776; <!-- Hamburger icon -->
        </div>
    
        <div class="profile-icon">
            <a href="/profile_create">
                <i class="fas fa-user-circle"></i>
            </a>
        </div>
    </header>
    
        <nav class="sidebar" id="sidebar">
            <ul>
                <li><a href="/">Home</a></li>
                <!-- <li><a href="/form">Career Advisor Form</a></li> -->
                <li><a href="/career-advisor">Career Advisor Bot</a></li>
                <li><a href="/chatbot">Chatbot</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>

    <div class="content text-center">
        <h1>Talk to Our Chatbot!</h1>
        <p class="text-center">The chatbot is only currently tailored to give its best career advice based upon the information you give. It is only advice and not instructing you to do anything against your will.</p>
    </div>

    <div id="chat-container">
        <div id="chatbox"></div>
        <input type="text" id="user-input" placeholder="Type your message..." />
        <button id="send-button">Send</button>
    </div>

    <script src="/static/chatbot.js"></script>
</body>
</html>
