<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"> <!-- Link to your favicon -->
    <title>AI Career Advisor Platform - Form</title>
</head>
<body>
    <header>
        <div class="hamburger" id="hamburger">
            &#9776; <!-- Hamburger icon -->
        </div>
    
        <div class="profile-icon">
            <a href="/profile_create">
                <i class="fas fa-user-circle"></i>
            </a>
        </div>
    </header>
    
        <nav class="sidebar" id="sidebar">
            <ul>
                <li><a href="/">Home</a></li>
                <!-- <li><a href="/form">Career Advisor Form</a></li> -->
                <li><a href="/career-advisor">Career Advisor Bot</a></li>
                <li><a href="/chatbot">Chatbot</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>

    <div class="content">
        <h1>Fill Out Our Form!</h1>
        <p class="text-center">Please provide your personal and course details for results tailored to you!</p>
    </div>

    <form id="profile-form" onsubmit="submitForm(event)">
        <label for="name">Name:</label>
        <input class="form-control" type="text" id="name">

        <label for="degree">Degree:</label>
        <input class="form-control" type="text" id="degree">

        <label for="modules">Modules (comma separated):</label>
        <input class="form-control" type="text" id="modules">

        <label for="interests">Career Interests (comma separated):</label>
        <input class="form-control" type="text" id="interests">

        <button class="btn btn-primary mt-3" type="submit">Submit Profile</button>
    </form>

    <div class="content">
        <p class="text-center italic info">We do not use, store and or sell your personal and course details.</p>
    </div>

    <script src="/static/index.js"></script>
</body>
<footer>
    <p>&copy; 2024 AI Career Advisor - Powered by Onesite Designs</p>
  </footer>
</html>
