<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"> <!-- Link to your favicon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <title>Career Advisor - Create a Profile</title>
</head>
<body>
    <header>
        <div class="hamburger" id="hamburger">
            &#9776; <!-- Hamburger icon -->
        </div>
    
        <div class="profile-icon">
            <a href="/profile_create">
                <i class="fas fa-user-circle"></i>
            </a>
        </div>
    </header>
    
        <nav class="sidebar" id="sidebar">
            <ul>
                <li><a href="/">Home</a></li>
                <!-- <li><a href="/form">Career Advisor Form</a></li> -->
                <li><a href="/career-advisor">Career Advisor Bot</a></li>
                <li><a href="/chatbot">Chatbot</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>

    <div class="mt-3" id="app">
        <h1>Create a Profile!</h1>
        
        <!-- Create Profile Form -->
        <div id="create-profile-form">
            <form id="profileForm">
                <label for="name">Name:</label>
                <input class="form-control" type="text" id="name">
                
                <label for="username">Username:</label>
                <input class="form-control" type="text" id="username">
                
                <label for="email">Email:</label>
                <input class="form-control" type="email" id="email">

                <label for="password">Password:</label>
                <input class="form-control" type="password" id="password">
                
                <button class="btn btn-primary mt-3" type="submit">Create Profile</button>
            </form>
        </div>
        <div class="mt-3">
            <p>Already have an account? <a href="/login" class="link">Log in here</a>.</p>
        </div>
    </div>
    
    <script src="/static/script.js"></script>
</body>
</html>
